@model IEnumerable<DataLayer.Page>

@{
    ViewData["Title"] = "Index";
}
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item active">خانه / </li>
    <li class="breadcrumb-item active">پنل مدیریت</li>
    <li class="breadcrumb-item active">خبرها</li>
</ol>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">افزودن خبر جدید</a>
</p>
<table class="table">
    <thead class="border-light">
        <tr>
            <th>خبرها</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="border-light">
                <td>
                    <img src="~/uploads/@item.ImageName" class="img-thumbnail" style="max-width:120px" />                        
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    اسلایدر: @Html.DisplayFor(modelItem => item.ShowInSlider)
                </td>
                <td>
                    بازدید : @Html.DisplayFor(modelItem => item.View)
                </td>
            </tr>
            <tr> 
                <td class="small">
                    @Html.DisplayFor(modelItem => item.PageTitle)
                </td>
                <td>
                       انتشار : @item.CreateDate.ToShamsi_Date()
                </td>
                <td>
                    <a asp-area="" asp-controller="News" asp-action="ShowNews" asp-route-id="@item.PageID" class="btn btn-sm btn-outline-secondary">جزئیات</a>
                    <a asp-action="Edit" asp-route-id="@item.PageID" class="btn btn-sm btn-outline-secondary">ویرایش</a>
                    <a asp-action="Delete" asp-route-id="@item.PageID" class="btn btn-sm btn-outline-danger">حذف</a>
                </td>
            </tr>

        }
    </tbody>
</table>
